body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    max-width: 375px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    background-color: #4e5c94;
    color: white;
    padding: 0.5rem 1rem;
    position: relative;
}

header h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
}

#backButton {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    margin-right: 0.5rem;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 0.2rem 0.5rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

#searchInput {
    padding: 0.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #333;
    border-radius: 20px;
}

#searchButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#searchButton img {
    width: 20px;
    height: 20px;
}

main {
    padding: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

li img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

li .info {
    flex-grow: 1;
}

li .info h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

li .info p {
    margin: 0;
    color: #555;
    font-size: 0.875rem;
}

li .distance {
    font-size: 0.875rem;
    color: #888;
}

/* フッター */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background-color: #4e5c94;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 375px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* フッターのアイコンスタイル */
footer a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

/* フッターのアクティブ状態を示す */
footer a.active {
    background-color: #394575;
    border-top: 3px solid #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

footer img {
    width: 25px;
    height: 25px;
}
